<!DOCTYPE html>
<html>
<head>
    <title>Search Assets</title>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 
         IMPORTANT ITEM #1 - THIS MUST BE IN THE HEADER.
         THIS IS THE CORE BOOTSTRAP CSS FROM A CDN
     --> 
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="css/app.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default container-fluid" id="navbar">
        <ul class="nav navbar-nav">
            <li><img class="padding" src="logo_noBackground.png" alt="logo"></li>
            {{!-- <li><a onclick="toggle_advanced_search()">Advanced Search</a></li> --}}
        </ul>
        <ul class="nav navbar-nav navbar-right" style="padding: 10px;">
            {{#if loggedin}}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle font1" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-right: 20px; color: black;">{{firstname}} {{lastname}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><span class="glyphicon glyphicon-cog"></span> General Account Settings</a></li>
                    <li><a href="/reset_pwd"><span class="glyphicon glyphicon-edit"></span> Change Password</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout" class="font1 logout_button" style="margin-right: 20px;"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
                </ul>
            </li>
            {{else}}
                <li><form action="/auth" class="font1 signin_button" style="margin-right: 20px;">Sign In <span class="glyphicon glyphicon-user" aria-hidden="true"></span></form></li>
            {{/if}}
        </ul>
    </nav>
    {{#if loggedin}}
    <div class="form_container" id="advanced_search">
        <form id="search_form" class="form" action="advanced_search_result" method="get">
            <h2>Search Assets</h2><br>            
            <select name = "asset_type" id="type_dropdown">
                <option value = "0">Select Type</option>
                <option value = "1">Computer Server</option>
                <option value = "2">Desktop</option>
                <option value = "3">Laptop</option>
                <option value = "4">Biotech Machine</option>
            </select>
            <input id="name_textbox" class="textbox" type="text" name="name" placeholder="Asset Name">
            <div class="row">
                <div class="col-md-6"><span class="font1">Search By Manufacturer: </span><input type="text" class="textbox" name="manu" placeholder="Manufacturer"></div>
                <div class="col-md-6"><span class="font1">Search By Department: </span><input type="text" class="textbox" name="dep" placeholder="Department"></div>
            </div>
            <p class="font1">Price Range:</p>
            <div id="ranges">
                <input type="radio" id="range0" name="price_range" value="0">
                <label for="range0">Any Range</label><br>
                <input type="radio" id="range1" name="price_range" value="1">
                <label for="range1">$0 - $500</label><br>
                <input type="radio" id="range2" name="price_range" value="2">
                <label for="range2">$500 - $1000</label><br>
                <input type="radio" id="range3" name="price_range" value="3">
                <label for="range3">> $1000</label><br>
            </div>
            <button type="submit" id="submit_button" class="button"><span class="glyphicon glyphicon-search"></span> Search Assets</button>
        </form>
    </div>

    {{#if isAssetAdmin}}
    <div class="form_container" id="add_new">
        <button type="button" onclick="add_new()" class="button"><span class="bold font2">Add New Asset  </span><span class="glyphicon glyphicon-plus" id="add_new_icon" aria-hidden="true"></span></button>
        <span id="msg_wrapper"></span>
        <div id="new_asset_wrapper"></div>
    </div>
    {{/if}}
    {{else}}
        <p class='font1'>You are not authorized to view this material. Please sign in and try again.</p>
    {{/if}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" async></script>
    <script type="text/javascript">
        function add_new() {
            if (document.getElementById('new_asset_wrapper').innerHTML != "") {
                document.getElementById('new_asset_wrapper').innerHTML = "";
            }
            else {
                var ajax_params = {
                    'url' : "/add_new",
                    'type' : "get",
                    'data' : {},
                    'success' : onServerResponse3
                }
                $.ajax( ajax_params ); 
                }
        }
        function onServerResponse3 (responseObj) {
            document.getElementById('new_asset_wrapper').innerHTML = responseObj;
        };
    </script> 
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>
</html>