<!DOCTYPE html>
<html>
<head>
    <title>Asset Management | Sign In</title>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 
         IMPORTANT ITEM #1 - THIS MUST BE IN THE HEADER.
         THIS IS THE CORE BOOTSTRAP CSS FROM A CDN
     --> 
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="css/app.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default container-fluid" id="navbar">
        <ul class="nav navbar-nav">
            <li><img class="padding" src="logo_noBackground.png" alt="logo"></li>
            {{!-- <li><a onclick="toggle_advanced_search()">Advanced Search</a></li> --}}
        </ul>
        <ul class="nav navbar-nav navbar-right" style="padding: 10px;">
            <li><form action="/auth" class="font1 signin_button" style="margin-right: 20px;">Sign In <span class="glyphicon glyphicon-user" aria-hidden="true"></span></form></li>
        </ul>
    </nav>
    <div class="form_container">
        <form id="username_form" class="form" action="reset_pwd" method="get">
            <h2>Please enter your username below to reset your password.</h2><br>            
            <p>Username: <input id="username" class="textbox" type="text" name="usr" placeholder="Username"></p>
            <p>{{failmsg}}</p>
            <button type="submit" id="submit_button" class="button">Continue</button>
        </form>

    </div>
</body>
</html>